<div class="all-title-box">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <h2>Cart</h2>
	            <ul class="breadcrumb">
	                <li class="breadcrumb-item"><a href="#">Shop</a></li>
	                <li class="breadcrumb-item active">Cart</li>
	            </ul>
	        </div>
	    </div>
	</div>
</div>

<div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<%= render 'product' %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> $ <span id="total"><%= @cart['total'] %> </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box">
                    <% if current_user.cart['products'].present?%>
                	   <%= link_to 'Checkout', new_orders_path, class: 'ml-auto btn hvr-hover' %>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
